@font-face {
  font-family: 'social_icons';
  src: url('../fonts/social_icons.eot');
  src: url('../fonts/social_icons.eot#iefix') format('embedded-opentype'),
       url('../fonts/social_icons.woff2') format('woff2'),
       url('../fonts/social_icons.woff') format('woff'),
       url('../fonts/social_icons.ttf') format('truetype'),
       url('../images/social_icons.svg#social_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'social_icons';
    src: url('../images/social_icons.svg#social_icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "social_icons";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
.icon-instagram_icon:before { content: '\e800'; } /* '' */
.icon-spothopper_icon:before { content: '\e801'; } /* '' */
.icon-spothopper_inverse_icon:before { content: '\e802'; } /* '' */
.icon-twitter_icon:before { content: '\e803'; } /* '' */
.icon-facebook_icon:before { content: '\e804'; } /* '' */